<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldreduser.developwithfreedom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Level_3.Level_3.recyclerview.recyclerview.recycler3.RecyclerView3"></activity>
        <activity android:name=".Level_3.Level_3.recyclerview.recyclerview.RecyclerHomeScreen" />
        <activity android:name=".Level_3.Level_3.recyclerview.recyclerview.recycler2.RecyclerView2" />
        <activity android:name=".Level_3.Level_3.PlaceHolder" />
        <activity android:name=".Level_1.PopUpDialog" />
        <activity android:name=".Level_1.ProgramaticLayoutActivity" />
        <activity android:name=".Level_3.Level_3.recyclerview.recyclerview.recycler1.RecyclerView1" />
        <activity android:name=".Level_2.Storage_Package.roomStorage.SQLitePt1" />
        <activity android:name=".Level_2.Storage_Package.AppSpecificStorage" />
        <activity android:name=".Level_2.Storage_Package.GetPreferencesActivity" />
        <activity android:name=".Level_2.Storage_Package.SharedPreferenceActivity" />
        <activity android:name=".Level_2.Storage_Package.TextStorageJavaActivity" />
        <activity android:name=".Level_2.Storage_Package.LocalStorageActivity" />
        <activity android:name=".Level_2.Pass_Data_To_Activity_Package.ArrayBeingPassedActivity" />
        <activity android:name=".Level_2.Pass_Data_To_Activity_Package.TestActivityOne" />
        <activity android:name=".Level_2.Pass_Data_To_Activity_Package.PassDataToActivityActivity" />
        <activity android:name=".Level_1.DropDownMenuKotlinVersionActivity" />
        <activity android:name=".Level_1.DropDownMenuActivity" />
        <activity android:name=".Level_1.FunctionsAndParametersActivity" />
        <activity android:name=".Level_1.LogicStatementsActivity" />
        <activity android:name=".Level_1.MarginsPaddingActivity" />
        <activity android:name=".Level_1.HideAndShowLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>